# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/
system_design.md

# OS files
.DS_Store
Thumbs.db